$bgColor: #FFF;
$mainColor: #000;
$headerColor: #868794;
$tagsColor: #FFD56E;

form {
    background: rgba(255, 184, 0, 0.77);
    border-radius: 8px;
    padding: 1rem;
    img {
        width: 100px;
        height: 75px;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    h1 {
        white-space: nowrap !important;
        font-size: 35px !important;
        font-weight: bold !important;
        color: #FEFCFC !important;
    }
    label {
        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        color: #FEFCFC;
    }
    .form-contact {
        background: rgba(0, 0, 0, 0.11);
        border-radius: 8px;
        width: 100%;
        border: none;
        margin-bottom: .6rem;
        outline: none;
        padding: .6rem 1rem;
        font-size: 16px;
        &::placeholder {
            font-size: 12px;
            color: #FFF;
        }
    }
    .error {
        color: #f00 !important;
        font-size: 12px !important;
    }
}