@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:wght@400;700&display=swap');

@import "./Sass/components/buttons";
@import "./Sass/components/slider";
@import "./Sass/components/carousel";
@import "./Sass/components/progress";
@import "./Sass/components/form";
@import "./Sass/components/models";
@import "./Sass/components/cardItems";
@import "./Sass/layout/footer";
@import "./Sass/layout/navigation";
@import "./Sass/pages/home";
@import "./Sass/pages/about";
@import "./Sass/pages/services";
@import "./Sass/pages/profile";
@import "./Sass/pages/cart";
@import "./Sass/pages/product";
@import "./Sass/pages/contact";
@import "./Sass/pages/signIn";



$bgColor: #FFF;
$mainColor: #000;
$headerColor: #868794;
$tagsColor: #FFD56E;

body {
  background-color: $bgColor;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $tagsColor; 
    border-radius: 0px;
    width: 3px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Peralta', cursive !important;
  }

  a {
    text-decoration: none;
  }
}



@media (max-width: 768px) {
}

@media (max-width: 450px) {
}