.footer {
    background: #3C3C3B 0% 0% no-repeat padding-box;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 22px;
}

.description {
    border-right: 1px solid #484848;
    padding-right: 1.5rem;
    img {
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
}
.email {
    h1 {
        font-size: 18px;
        font-weight: 400;
    }
    .group {
        background: #FFFFFF;
        border-radius: 24px;
        display: flex;
        padding: .3rem;
        margin-bottom: 28px;
        input {
            border: none;
            padding: 0;
            padding-left: 1rem;
            margin: 0;
            outline: none;
            box-shadow: none;
            background: none;
        }
        input::placeholder {
            font-size: 12px;
            color: var(--secondary-color);
        }
        .submit {
            background: var(--primary-color) 0% 0% no-repeat padding-box;
            border-radius: 19px;
            border: none;
            padding: 10px 21px;
            display: flex;
            font-size: 10px;
            font-weight: bold;
            align-items: center;
            img {
                margin-left: 0.5rem;
                width: 20px;
                height: 20px;
            }
        }
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links {
    border-right: 1px solid #484848;
    li {
        font-size: 16px;
        margin-bottom: 0.5rem;
        a {
            color: #FFF;
            text-decoration: none;
        }
    }
}

.social {
    li{
        font-size: 16px;
        margin-bottom: 1rem;
        a {
            color: #FFF;
            text-decoration: none;
            img {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
        }
    }
}

.copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 22px;
    border-top: 1px solid #484848;
    h5 {
        font-size: 16px;
    }
    img {
        margin-left: 10px;
    }
    span {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .copyRight {
        flex-flow: column;
        justify-content: center;
        height: 100%;
        padding: 1.5rem 0;
    }
}